<div class="main-container">
  <div class="create-container">
    <form class="create-form" (ngSubmit)="createProduct()">
      <label for="name">Product naam</label>
      <input
        type="text"
        id="name"
        name="name"
        [(ngModel)]="name"
        autocomplete="name"
        required
      />

      <label for="description">Beschrijving</label>
      <input
        type="text"
        id="description"
        name="description"
        required
        [(ngModel)]="description"
        autocomplete="off"
      />
      <label for="price">Prijs</label>
      <input
        type="text"
        id="price"
        name="price"
        required
        [(ngModel)]="price"
        autocomplete="off"
      />
      <label for="image">Afbeelding URL</label>
      <input
        type="text"
        id="image"
        name="price"
        required
        [(ngModel)]="image"
        autocomplete="off"
      />


      <button type="submit">Voeg toe</button>
    </form>
  </div>
</div>
