.main-container {
  display: flex;
  flex-direction: column;
  //height: 100vh;
}

.top-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  background-color: #5B9E48;
  position: absolute;
  height: 90px;
  top: 0;
  left: 0;

  p {
    color: white;
    align-items: flex-start;
    margin-top: 0;
  }
}

.site-logo {
  margin-top: 0;

  cursor: pointer;
  //height: auto;
  //width: 10px;

}

.log-in, .shopping-cart {
  width: 30px;
  margin-top: 20px;
  cursor: pointer;
}

.log-in {
  //margin-right: 10px;

}

.side-bar {
  position: fixed;
  right: 0;
  background-color: #5B9E48;
  top: 0;
  width: 90px;
  height: 100%;
}

.left-side {
  display: flex;
  margin-right: 30px;

  figure {
    width: 0px;
  }

}

.site-logo {
  width: 40px;
  padding-left:15px;
  height: 40px;
}
