<div class="main-container">
  <div class="create-size-container">
    <form class="size-form" (ngSubmit)="addSize()">

      <div *ngFor="let size of standardSizes">
        {{ size }}
        <input
          [(ngModel)]="selectedSizes[size]"
          autocomplete="off"
          id="size"
          name="size"
          placeholder="Maat"
          required
          type="checkbox"
          [value]="size"
        />
      </div>
      <button type="submit">Create</button>
    </form>
  </div>
</div>


