.main-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.product-card{
  width: 272px;
  height: 400px;
  background-color: white;
  border-radius: 10px;
}
.product-information{
  display: inline-block;

}
