<div class="main-container">
  <div class="edit-container">
    <form class="edit-form" (ngSubmit)="editProduct()">
      <label for="name">Titel</label>
      <input
        type="text"
        id="name"
        name="name"
        placeholder="Title"
        [(ngModel)]="name"
        autocomplete="name"
        required
      />

      <label for="description">Beschrijving</label>
      <input
        type="text"
        id="description"
        name="description"
        required
        [(ngModel)]="description"
        autocomplete="off"
        placeholder="Beschrijving"
      />
      <label for="price">Prijs</label>
      <input
        type="text"
        id="price"
        name="price"
        required
        [(ngModel)]="price"
        autocomplete="off"
        placeholder="price"
      />
      <label for="image">Afbeelding URL</label>
      <input
        type="text"
        id="image"
        name="image"
        required
        [(ngModel)]="image"
        autocomplete="off"
        placeholder="URL"
      />
      <div class="edit-buttons">
        <button type="submit" (click)="deleteProduct()">
          <lucide-icon name="trash"></lucide-icon>
        </button>
        <button type="submit">Bewerk</button>
      </div>
    </form>
  </div>
</div>
